label {
    display: inline-block;
    width: 150px;
    text-align: left;
}

.selected {
    background-color: red;
}

#expense-edit{
z-index: 2000;
}
.center-fixed {
position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}